input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.asterisk::after {
  content: "*";
  color: red;
}

span {
  font-size: 12px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
