<div class="container-fluid mt-2">
  <div class="row justify-content-center mx-auto gap-md-5 gap-lg-4">
    <div
      class="col-3 col-md-2 col-lg-2 text-center"
      [routerLink]="['/shop/category']"
      [queryParams]="{ filter: 'simpathy' }"
    >
      <p>Simpathy</p>
      <img
        src="assets/Resursi/category/category1.png"
        style="width: 5em; height: 6em"
        class="border-bottom border-danger"
      />
    </div>

    <div
      class="col-3 col-md-2 col-lg-2 text-center"
      [routerLink]="['/shop/category']"
      [queryParams]="{ filter: 'anniversary' }"
    >
      <p>Anniversary</p>
      <img
        src="assets/Resursi/category/category2.png"
        style="width: 5em; height: 6em"
        class="border-bottom border-danger"
      />
    </div>

    <div
      class="col-3 col-md-2 col-lg-2 text-center"
      [routerLink]="['/shop/category']"
      [queryParams]="{ filter: 'congratulations' }"
    >
      <p>Congratulations</p>
      <img
        src="assets/Resursi/category/category3.png"
        style="width: 5em; height: 6em"
        class="border-bottom border-danger"
      />
    </div>

    <div
      class="col-3 col-md-2 col-lg-2 text-center"
      [routerLink]="['/shop/category']"
      [queryParams]="{ filter: 'getwell' }"
    >
      <p>Getwell</p>
      <img
        src="assets/Resursi/category/category4.png"
        style="width: 5em; height: 6em"
        class="border-bottom border-danger"
      />
    </div>
  </div>
</div>

<app-category [products]="products"></app-category>
